<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <script src="{% static 'js/myjs.js' %}"></script>
</head>
   
<body>
    <h1>This is a static page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Culpa, harum ratione mollitia exercitationem quis soluta? Minima fuga, 
      incidunt consequuntur, quae saepe eligendi facilis alias nesciunt pariatur
       voluptates quaerat cupiditate possimus.</p>


</body>
</html>